$body-font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;

$code-color: #910b0e;
$code-font-family: initial;
$code-font-weight: bold;
$code-background-color: initial;
$code-border-size: initial;
$code-border-style: initial;
$code-border-color: initial;
$code-padding: initial;
