@import "../settings";
// @import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

html {
  font-size: 14px;
}

body {
  background-color: #eaeaea;
}
.orderListing { padding-bottom:42px !important; }

.row .row { width: 100%; margin:0px !important;}

.orderPic_main{ padding:0px !important; background:#c72417; color:#ffffff; }

.orderPic_main h3{ font-size:30px; color:#fff;   margin:0px; line-height:32px;  }

 .orderPic{ padding:7px; }

.orderPic span{ display:block; padding-bottom:11px;  }

.orderPic span label{ display:inline-block;  padding-left:8px; padding-right:8px;  color:#fff; line-height:14px; height:14px; }
.orderPic span label i {
  margin-right: 4px;
}

.orderPic a{ display:block; overflow:hidden; }

.orderPic a img{ max-width:none; width:100%; display:block; height:auto; }

.userCode{ padding:0px 0px 0px 5px; background:#2f2f2f; height:44px;   }

.userCode small{ padding-left:12px; display:block; width:30%; float:left; line-height:25px; height:25px; color:#fff; font-size:16px;}

.userCode h4{ width:50%; float:right; background:#c72417; font-size:17px; color:#fff; text-align:center;  line-height:32px; margin-top:-13px; position:relative; z-index:2; margin-bottom:0px;  }
 
.userCode h4 label{ display:block; font-size:27px;color:#fff;line-height:26px; cursor:default;}

.padding_0{ padding:0px !important; }

.orderSlot{ padding-bottom:19px !important;  }
.orderSlot .title{ background:#2a2a2a; }

.orderSlot h2{ color:#fff; font-size:25px;  }
.orderSlot h2 > .icon { margin-right: 0.2em; vertical-align: text-bottom;}

.orderSlot .column{ padding:0rem !important;  padding:0px 2px !important; }

.orderSlot strong{display:block; padding:10px; font-weight:normal; font-size:16px; text-transform:capitalize;  }

.orderSlot span{ background:#cccccc; line-height:24px; display:block; padding:10px; font-size:16px; color: #575757; }
.orderSlot span > .icon {
  font-size: 1em;
  margin-right: 0.2em;
  vertical-align: text-bottom;
}

.orderSlot b{ text-align:center; display:block; padding:10px; font-weight:normal; font-size:16px; text-transform:capitalize;}

.orderstate{ background:#c72417; padding:0px 0px; position:absolute; left:0px; bottom:0px;  }

 
.orderstate strong, .orderstate span{display:block; color:#ffffff;  padding:8px 10px;  font-weight:normal; font-size:20px; text-transform:capitalize;  }
.orderstate strong{ text-align:right;  }
 
.orderstate .medium-3 {background:#303030 !important;}

.equal_contant{ position:relative; }



 @media only screen and (max-width: 1024px) and (min-width: 768px) {

.orderSlot h2{  font-size:20px; margin:0px; line-height:45px; }
 .order_contant{   padding:14px 0px 4px 0px; }
 .orderSlot strong{ padding:8px 0px; font-size:14px; }
 
 .orderSlot span{ padding:8px 4px 8px 16px; font-size:13px;}
 .orderSlot b{ padding:8px; }
 
 .orderstate strong, .orderstate span{ font-size:14px; }
 

 
 .orderPic span label{ font-size:12px;}
 
 .orderSlot{ padding-bottom:16px !important;  }
}





 @media only screen and (max-width: 767px) {
.orderListing{ width:100%; height:100%; position:relative; }
 .orderPic_main h3{ font-size:16px; line-height:18px; }
 .orderPic span label{ font-size:10px;  height:12px; padding-left:10px; padding-right:3px; } 
 .orderPic span label.date{padding-left:14px;  } 
 .orderPic span{ padding-bottom:2px; }
 .orderPic{ padding:8px 4px 4px 4px !important; }
 .userCode h4{ font-size:10px; line-height:16px; }
  .userCode h4 label{ font-size:13px; line-height:16px; } 
 .userCode small{ padding:0px 0px 0px 14px; font-size:10px; line-height:12px; width:44%; float:left; height:auto; margin-top:2px;   }
 .userCode{ height:auto; }
 
 .orderSlot{ padding-bottom:0px !important; }
 
 .orderSlot .columns{ padding:0px 10px !important ; }
 
 .orderSlot h2{  font-size:15px; margin:0px; line-height:30px;  padding-left:18px;   }
 .order_contant{   padding:14px 0px 4px 0px; }
 .orderSlot strong{ padding:0px 0px; font-size:11px; line-height:20px;  }
 .mobNone{ display:none; }
 .orderSlot span{ padding:1px 1px 1px 18px; font-size:10px; line-height:23px;   }
 .orderSlot b{ padding:8px; }
 .orderSlot .column{ padding:0px 0px 3px 0px !important; }
 .orderstate strong, .orderstate span{ font-size:14px; padding:0px 0px; font-size:11px; line-height:26px;}
 .orderstate{ width:100%; height:auto; position:absolute; left:0px; bottom:16px; padding:0px !important;    }
.orderListing .column, .orderListing .columns{ position:static !important; }
 
 .orderstate .column{ background:#2f2f2f; border-top:1px solid #c6c6c6; }
 .orderstate .columns{  border-top:1px solid #c63d34 !important; background:#c4271a !important;  }
 .mobPad{ padding:0px 6px 0px 6px !important; }

.mobPad .columns{ padding-left:0px !important; }
}
